@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

body{
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(211, 68%, 94%);
    font-family: "Plus Jakarta Sans", serif;
}
main{
    width: 85%;
    max-width: 40rem;
    padding: 1rem;
    margin-top: 2rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
}
#notifications-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notifications-div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#notifications-label{
    font-size: 1.3rem;
}
.notifications-count{
    padding: 0.2rem 0.7rem;
    border-radius: 0.5rem;
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    font-variation-settings: "wght" 800;
}
.mark-all-button{
    background-color: transparent;
    border: none;
    color: hsl(219, 12%, 42%);
}
.new-notification, .notification{
    display: flex;
    gap: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.7rem;
    padding: 1rem;
}
.new-notification:last-of-type, .notification:last-of-type{
    margin-bottom: 0;
}
.new-notification{
    background-color: hsl(210, 60%, 98%);
}
.notification{
    background-color: hsl(0, 0%, 100%);
}
.profile-picture{
    width: 2.5rem;
    height: 2.5rem;
}
.content{
    width: 100%;
}
.content.picture-comment{
    display: flex;
    justify-content: space-between;
}

.commented-picture{
    width: 2.5rem;
    height: 2.5rem;
}
.commented-picture, .profile-picture{
    cursor: pointer;
    transition:all 0.3s ease-in-out;
}
.commented-picture:hover, .profile-picture:hover{
    transform: scale(1.1);
}
.name, #notifications-label{
    color: hsl(224, 21%, 14%);
}
.info{
    color: hsl(219, 12%, 42%);
    margin: 0;
    display: inline;
    word-spacing: 0.1rem;
}

.red-dot{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.5rem;
    display: inline-block;
    background-color: red;
}
.post-name{
    font-weight: 600;
}
.name{
    font-variation-settings: "wght" 800;
}
.name:hover, .post-name:hover, .mark-all-button:hover{
    color:hsl(219, 85%, 26%);
}
.message{
    padding: 1rem;
    border-radius: 0.4rem;
    color: hsl(219, 12%, 42%);
    margin-bottom: 0;
    border: 1px solid hsl(211, 68%, 94%);
    transition: background-color 0.3s ease-in-out;
}
.message:hover{
    background-color: hsl(211, 68%, 94%);
}
.day{
    color: hsl(219, 14%, 63%);
    margin: 0;
}
.group-name{
    color: hsl(219, 85%, 26%);
    font-weight: 800;
}
.group-name, .commented-picture, .name, .message, .post-name, .mark-all-button{
    cursor: pointer;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 1.5rem 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 430px){
    body{
        background-color: hsl(0, 0%, 100%);
    }
    .info, .day, .message{
        font-size: 0.8rem;
    }
}
