body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(210, 60%, 98%);
}
main{
    width: 85%;
    max-width: 50rem;
    padding: 1rem;
    margin-top: 2rem;
    background-color: hsl(0, 0%, 100%);
}
#notifications-header{
    display: flex;
    justify-content: space-between;
}
#notifications-label{
    font-size: 1.3rem;
}
.mark-all-button{
    background-color: transparent;
    border: none;
    color: hsl(219, 12%, 42%);
}
.new-notification, .notification{
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    padding: 1rem;
}
.new-notification{
    background-color: hsl(210, 60%, 98%);
}
.notification{
    background-color: hsl(0, 0%, 100%);
}
.profile-picture{
    width: 3rem;
    height: 3rem;
}
.content{
    width: 100%;
}
.picture-comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.commented-picture{
    width: 2.5rem;
    height: 2.5rem;
}
.name, #notifications-label{
    color: hsl(224, 21%, 14%);
}
.info{
    color: hsl(219, 12%, 42%);
    margin: 0;
    display: inline;
}
.red-dot{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.5rem;
    display: inline-block;
    background-color: red;
}
.post-name{
    font-weight: 600;
}
.name{
    font-weight: 700;
}
.name:hover, .post-name:hover, .mark-all-button:hover{
    color:hsl(219, 85%, 26%);
}
.message{
    padding: 1rem;
    border-radius: 0.4rem;
    color: hsl(219, 12%, 42%);
    margin-bottom: 0;
    border: 1px solid hsl(211, 68%, 94%);
}
.message:hover{
    background-color: hsl(211, 68%, 94%);
}
.day{
    color: hsl(219, 14%, 63%);
    margin: 0;
}
.group-name{
    color: hsl(219, 85%, 26%);
    font-weight: 800;
}
.group-name, .commented-picture, .name, .message, .post-name, .mark-all-button{
    cursor: pointer;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 1.5rem 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
